@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Crenzo';
  src: url('../public/fonts/Crenzo.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Triakis';
  src: url('../public/fonts/TriakisReg.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Baunk';
  src: url('../public/fonts/Baunk.ttf');
  font-weight: bold;
  font-style: normal;
}

.stop-1 {
  stop-color: #F8BFC8;
}
.stop-2 {
  stop-color: #B8BAF8;
}

.dark .stop-1 {
  stop-color: #3A141E;
}
.dark .stop-2 {
  stop-color: #262A65;
}
