package components

import fns "bradswhite.com/fns"

templ PostHeader(front *fns.Matter) {
  <div>
    <h1>{front.Title}</h1>
    <h2>{front.Subtitle}</h2>
    <img class="w-[600px] h-[400px]" src={"/public/" + front.Thumbnail} alt={front.Title} />
    <h3>{front.Date}</h3>
  </div>
}
