package components

import fns "bradswhite.com/fns"

templ PostPage(front *fns.Matter, body templ.Component) {
  @Page("Brad White // " + front.Title) {
    @PostHeader(front)
    @PostBody(body)
  }
}
